.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #3d424f;
}

.message {
  position: fixed;
  z-index: 5;
  width: 90%;
  max-width: 40em;
  height: 10em;
  border-radius: 40px;
  background-color: #3d424f;
  color: #dbb85f;
  left: 50% !important;
  top: 50% !important;
  opacity: 1 !important;
  transform: translate(-50%, -50%) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 15px white;
}

.message p {
  font-weight: bold;
  font-size: 1.5em;
  z-index: 1;
  margin-bottom: 3em;
  color: white;
}

.message button {
  width: 10em;
  margin-top: 2em;
  height: 3em;
  z-index: 1;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 15px white;
  border: none;
  transition: all 300ms ease-in-out;
  color: white;
  background-color: #961c23;
}

.message button:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #961c23;
  color: #dbb85f;
}
