.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:35em;
}

.item h2{
    margin-top: .3em;
}

.item h4{
    margin-top: .7em;
}

.pageImg{
    width:80%;
    height:47%;
    margin-top: 0em;
    border-radius: 10px;
    background: rgb(0, 0, 0,1);
}

.pageImg>img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}

.links{
    width:70%;
    height:2.3em;
    max-width: 50em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: .3em;

}

.links>a {
    text-decoration: none;
    width:35%;
    max-width: 9em;
    height: 100%;
    background:linear-gradient( rgb(230, 224, 224), rgb(255, 255, 255));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 700;
    border:1px solid red;
    opacity: .7;
    transition-duration: 500ms;
    color: blue;

}

.links>a+a{
    color: green;
    
}

.links a:hover{
    opacity: 1;
    background: linear-gradient(white, rgb(218, 210, 210));
}

.icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icons>img{
    width:2.5em;
    opacity: .8;
    margin-bottom: 1em;
    margin-right: .6em;
}

.icons>img:hover{
    opacity: 1;
    cursor: pointer;
}

.icons{
    margin-top: .5em;
    margin-left: .8em;
}
.icons i{
    font-size: 3em;
    height:1.5em;
    opacity: .8;
}

.icons i:hover{
    opacity: 1;
    cursor: pointer;
}

.item span{
    color:rgb(234, 59, 59);

}

.item p{
    text-align: center;
    margin-top: .4em;
}

.pageImg>img{
    opacity: 1;

}

@media (min-width:1070px) {
    .pageImg{
        width:53em;
        height:30em;
        opacity: 1;
    }

    .pageImg>img{
        height:100%;
        opacity: 1;
    }
    .item{
        height: auto;
    }
}