.card{
    height:85vh;
    overflow: scroll;
    
}

.footer{
    height:8vh;
}

.procentage{
    position: fixed;
    z-index: 5;
    top: 0;
    right: 1%;
    width:.5px;
    height: 100%;
    border: 1px dotted white;
}

@media (min-width:560px) {
    .footer{
        height: 95vh;
        width: 7%;
        margin-left: 0em;
        margin-right: 1em;
    }

    .card{
        height: 95vh;
        margin-right: .3em;
    }
}